/* ==========================================================================
   FigureImage
   ========================================================================== */

/**
 * A figure element and its desendent image within a grid (.Grid) or not
 *
 * Markup example:
 *
 * <figure class="FigureImage">
 * 		<img src="..." class="FigureImage-item" alt="A single image" />
 * </figure>
 */

// .FigureImage {}

// .FigureImage-item {}

/**
 * A figure element (and image) within a (multifigure) grid
 *
 * Can be generated in (Kirby) Markdown with (figure: ) syntax
 * Contains one image by default, but can handle multiple images (multifigure)
 *
 * The multifigure uses the .Grid component to layout the items
 *
 * Markup examples:
 *
 * <figure class="FigureImage">
 * 		<img src="..." class="FigureImage-item" alt="Just a single image (no grid)" />
 * </figure>
 *
 * <figure class="FigureImage Grid Grid--withGutter">
 * 		<img src="..." class="FigureImage-item Grid-cell u-width1of2" alt="First image in row" />
 * 		<img src="..." class="FigureImage-item Grid-cell u-width1of2" alt="Secondimage in row" />
 * </figure>
 *
 * <figure class="FigureImage Grid Grid--alignCenter">
 * 		<img src="..." class="FigureImage-item Grid-cell u-width2of3--compact" alt="A centered image" />
 * </figure>
 *
 */

.FigureImage.Grid {
	@extend %u-cf;

	/* For captions in a grid, align the caption by setting gutters */

	&.Grid--withGutterPercentage {
		figcaption {
			padding-right: .5 * $grid-gutter-percentage;
			padding-left: .5 * $grid-gutter-percentage;
		}
	}
}

.FigureImage-item.Grid-cell {
	margin-bottom: $grid-gutter-percentage;
}

/**
 * Figure image single image align to center
 */

.FigureImage--alignCenter {
	text-align: center;

	.FigureImage-item {
		margin-left: auto;
		margin-right: auto;
	}
}
