/* ==========================================================================
   Container
   ========================================================================== */

/**
 * Container (contain padding => max width)
 */

.Container {
	padding-right: $contain-percentage;
	padding-left: $contain-percentage;
}

@include breakpoint(medium) {
	.Container {
		padding-right: rhythm(2);
		padding-left: rhythm(2);
	}
}
